<mat-sidenav-container fullscreen>
  <header>
    <mat-toolbar id="toolbar" color="primary">
      <button *ngIf="!(width > 1440)" 
              mat-icon-button matTooltip="開啟選單" 
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <button mat-icon-button matTooltip="搜尋">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="!currentUser" mat-button routerLink="/login">登入</button>
      <button *ngIf="currentUser" 
              mat-icon-button matTooltip="個人資訊" 
              (click)="logout()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
  </header>

  <mat-sidenav #sidenav id="sidenav" 
               [mode]="(width > 1440) ? 'side' : 'over'" 
               [opened]="(width > 1440) ? true : false">
    <div id="logo">
      資訊管理系統
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/seit">社交工程演練</a>
      <a mat-list-item>考績委員會投票</a>
    </mat-nav-list>
    <div id="legal">
      &copy;2018 臺中市政府秘書處
      <a mat-icon-button href="https://github.com/mirror520/mis-secretariat" target="_blank">
        <mat-icon svgIcon="mark-github"></mat-icon>
      </a>
    </div>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
