main {
    display: flex;
    flex-direction: column;
    
    margin: 10px 10px;
}

#user-login-form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#tccg-user-login-form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
